<!doctype html>
<html lang="zxx">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">

    <link rel="stylesheet" href="static/css/animate.min.css">

    <link rel="stylesheet" href="static/css/owl.carousel.min.css">

    <link rel="stylesheet" href="static/css/fontawesome.min.css">

    <link rel="stylesheet" href="static/css/odometer.css">

    <link rel="stylesheet" href="static/css/magnific-popup.min.css">

    <link rel="stylesheet" href="static/css/slick.min.css">

    <link rel="stylesheet" href="static/css/style.css">

    <link rel="stylesheet" href="static/css/responsive.css">
    <title>Epub Auto Generator</title>
</head>

<body data-spy="scroll" data-offset="120">

    <div class="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <h3>EAG</h3>
                </a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            首页
                        </a>
                    </li>
                </ul>
                <div class="others-option">
                    <div class="d-flex align-items-center">
                        <div class="option-item">
                            <button type="button" class="default-btn" onclick="location.reload();">
                                刷新
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="page-title-area">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container">
                    <div class="page-title-content">
                        <h2>{{content.module}}</h2>
                        <ul>
                            <li>mods</li>
                            <li>{{content.module}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="default-shape">
            <div class="shape-1">
                <img src="static/picture/1.png" alt="image">
            </div>
            <div class="shape-2 rotateme">
                <img src="static/picture/2.png" alt="image">
            </div>
            <div class="shape-3">
                <img src="static/picture/3.svg" alt="image">
            </div>
            <div class="shape-4">
                <img src="static/picture/4.svg" alt="image">
            </div>
            <div class="shape-5">
                <img src="static/picture/5.png" alt="image">
            </div>
        </div>
    </div>


    <section id="blog" class="blog-area pt-100 pb-100">
        <div class="container">
            <div class="section-title">
                <h2>已添加的书籍</h2>
                <div class="bar"></div>
                <form class="newsletter-form">
                    <input class="input-newsletter" placeholder="在此输入要添加或要重置状态的书籍id" id="input_id" type="text"
                        name="input_id">
                    <button type="button" title="add" onclick="add_id(this);">
                        执行！
                    </button>
                </form>
            </div>
            {% if content.success %}
            <div class="row">
                {% for k, v in content.novel_list.items() %}
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="image">
                            <img src="{{v.cover}}" alt="image" style="width: 100%;">
                            <div class="btn">
                                <a>id: {{k}}</a>
                            </div>
                        </div>
                        <div class="content">
                            <h3>
                                {{v.name}}
                            </h3>
                            <button class="btn" type="button" title="refresh" value="{{k}}" onclick="proceed(this);" {%
                                if (v.state==2 or v.state==4) %} disabled="disabled" {% endif %}>
                                更新缓存
                            </button>
                            <button class="btn" type="button" title="generate" value="{{k}}" onclick="proceed(this);" {%
                                if (v.state !=3 and v.state !=5) %} disabled="disabled" {% endif %}>
                                生成epub
                            </button>
                            <a {% if (v.state==5) %} href="{{['/download/', content.module, '/', k] | join}}"
                                download="{{[v.dir] | join}}" {% endif %}>
                                <button class="btn" type="button" title="download" value="{{k}}" {% if (v.state !=5) %}
                                    disabled="disabled" {% endif %}>
                                    下载epub
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col-lg-12 col-md-12">
                    <div class="pagination-area">
                        {% if (content.curr_page > 1) %}
                        <a href="/mods/{{content.module}}/{{content.curr_page - 1}}" class="prev page-numbers">
                            <i class="fa fa-chevron-left"></i>
                        </a>
                        {% endif %}
                        {% for p in content.pages %}
                        {% if (p != content.curr_page) %}
                        <a href="/mods/{{content.module}}/{{p}}" class="page-numbers">{{p}}</a>
                        {% else %}
                        <span class="page-numbers current" aria-current="page">{{p}}</span>
                        {% endif %}
                        {% endfor %}
                        {% if (content.curr_page != content.pages[-1]) %}
                        <a href="/mods/{{content.module}}/{{content.curr_page + 1}}" class="next page-numbers">
                            <i class="fa fa-chevron-right"></i>
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <h3>暂无书籍</h3>
            {% endif %}
        </div>
        <div class="default-shape">
            <div class="shape-1">
                <img src="static/picture/1.png" alt="image">
            </div>
            <div class="shape-2 rotateme">
                <img src="static/picture/2.png" alt="image">
            </div>
            <div class="shape-3">
                <img src="static/picture/3.svg" alt="image">
            </div>
            <div class="shape-4">
                <img src="static/picture/4.svg" alt="image">
            </div>
            <div class="shape-5">
                <img src="static/picture/5.png" alt="image">
            </div>
        </div>
    </section>


    <section class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-footer-widget">
                        <a href="" class="logo">
                            <h2>EAG</h2>
                        </a>
                        <p>Epub Auto Generator</p>
                        <ul class="social-list">
                            <li>
                                <a href="" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="copy-right">
        <div class="container">
            <div class="copy-right-content">
                <p>Copyright &copy; 2022.UROXIC All rights reserved.</p>
            </div>
        </div>
    </div>


    <div class="go-top">
        <i class="fa fa-chevron-up"></i>
        <i class="fa fa-chevron-up"></i>
    </div>

    <script>
        function add_id(btn) {
            var text = document.getElementById("input_id");
            var httpRequest = new XMLHttpRequest();	//第一步：创建需要的对象
            httpRequest.open('POST', location, true);	//第二步：打开连接
            /***发送json格式文件必须设置请求头 ；如下 - */
            httpRequest.setRequestHeader("Content-type", "application/json; charset=utf-8");	// 设置请求头,注：post方式必须设置请求头（在建立连接后设置请求头）
            var obj = { "action": String(btn.title), "id": String(text.value) };
            httpRequest.send(JSON.stringify(obj));//发送请求 将json写入send中
            setTimeout("location.reload()", 500)
        }
        function proceed(btn) {
            var httpRequest = new XMLHttpRequest();	//第一步：创建需要的对象
            httpRequest.open('POST', location, true);	//第二步：打开连接
            /***发送json格式文件必须设置请求头 ；如下 - */
            httpRequest.setRequestHeader("Content-type", "application/json; charset=utf-8");	// 设置请求头,注：post方式必须设置请求头（在建立连接后设置请求头）
            var obj = { "action": String(btn.title), "id": String(btn.value) };
            httpRequest.send(JSON.stringify(obj));//发送请求 将json写入send中
            setTimeout("location.reload()", 500)
        }
    </script>


    <script src="static/js/jquery-3.5.1.min.js"></script>

    <script src="static/js/popper.min.js"></script>

    <script src="static/js/bootstrap.min.js"></script>

    <script src="static/js/owl.carousel.min.js"></script>

    <script src="static/js/jquery.appear.js"></script>

    <script src="static/js/odometer.min.js"></script>

    <script src="static/js/slick.min.js"></script>

    <script src="static/js/particles.min.js"></script>

    <script src="static/js/jquery.ripples-min.js"></script>

    <script src="static/js/jquery.magnific-popup.min.js"></script>

    <script src="static/js/wow.min.js"></script>

    <script src="static/js/jquery.ajaxchimp.min.js"></script>

    <script src="static/js/form-validator.min.js"></script>

    <script src="static/js/contact-form-script.js"></script>

    <script src="static/js/main.js"></script>
</body>

</html>